$primary-color: #7c3aed;
$white: #ffffff;
$transition-time: 0.2s;

.sass-button {
  padding: 11px 18px;
  border: 2px solid $primary-color;
  border-radius: 8px;
  background-color: $primary-color;
  color: $white;
  font-weight: 700;
  transition: all $transition-time ease;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}
