/* 브라우저의 기본 여백을 제거합니다. */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f7;
  font-family: Arial, "Noto Sans KR", sans-serif;
}

/* App 컴포넌트 전체 영역입니다. */
.app {
  width: 100%;
  min-height: 100vh;
  padding: 1px 20px;
}
